// ######################################## //
// ## HOME.SCSS ## //
// ######################################## //

// container
.container {
  padding: 0;

  // On mobile
  @include mobile {
    padding: 20px;
  }
}

// blue strip
.bg-bluestrip {
  position: relative;

   // before
   &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgba($theme-primary, 0.1);

    // On mobile
    @include mobile {
      height: 110px;
    }
  }

}

// card search
.card-search {
  position: relative;
  border: none;
  background: $white;
  padding: 20px 30px;

  // On mobile
  @include mobile {
    padding: 15px 30px;
    margin-top: 20px;
   }

  // body
  .card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // On mobile
    @include mobile {
     flex-direction: column;
    }
  }

  // left-card-body
  .left-card-body {
    display: flex;

    // On mobile
    @include mobile {
      flex-direction: column;
      width: 100%;
      text-align: center;
    } 
  }

  // card-info
  .card-info.pl-mob {
    padding-left: 30px;

    // On mobile
    @include mobile {
      padding-left: 0;
      padding-top: 20px;
    } 
  }

  // card text group
  .card-text-group {
    font-weight: 700;
    border-right: 1px solid rgba($theme-gray, 0.16);
    padding: 0 30px;

    // On mobile
    @include mobile {
      border-bottom: 1px solid rgba($theme-gray, 0.16);
      border-right: none;
      padding: 20px 0;
    } 
  }

  // gray text
  .card-gray-text {
    font-size: 14px;
    color: $theme-text-light;
    margin-bottom: 2px; 
  }

  // title
  .card-title {
    font-size: 25px;
    color: $black;
    font-weight: 700;
    margin-bottom: 2px; 
  }

  // text
  .card-text {
    font-size: 12px;
    color: $black;
  }

  // select box
  .select-box {
    margin-top: 18px;

    // On mobile
    @include mobile {
      justify-content: center;
    }

    // form control
    .form-control {
      border: 2px solid $theme-primary;
      width: 70px;
      color: $theme-primary;
      height: 35px !important;

      // on hover, focus
      &:focus, &:hover {
        box-shadow: none;
      }
    }

    // container1
    .container1 {
      margin-right: 20px;
    }
    
  }
  
  // button
  .btn-modify {

    // On mobile
    @include mobile {
      margin: 40px 0;
    }
  }

  // badge-sec
  .badge-sec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;

    // icon sec
    .icon {
      color: $theme-danger;
      border: 1px solid $theme-danger;
      padding: 5px;
      border-radius: 2px;
      height: 15px;
      width: 15px;
      display: flex;
      justify-content: center;
      align-items: center;

      // icon
      i {
        font-size: 20px;
      }
    }
  }

  // card-footer
  .card-footer {
    padding: 0;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // fav sec
    .footer-text {
      display: flex;
      align-items: center;

      // On focus, hover
      &:focus, &:hover {
        text-decoration: none;
      }
    }

    // icon
    i {
      color: $theme-text-light;
      font-size: 20px;
      margin-right: 3px;
      font-weight: 700;
    }

    // text
    .gray-text {
      color: $theme-text-dark;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
    }

    // services sec
    .services-sec {
      padding: 0 2px 0 5px;
      border-bottom: 1px dashed $theme-text-dark;
    }
  }
  
}

// filter navabr
.filter-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  // On mobile
  @include mobile {
    flex-direction: column;
  }

  // left sec
  .left {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // On mobile
    @include mobile {
      margin-bottom: 20px;
    }

    // result text
    .result-text {
      font-size: 18px;
      font-weight: 700;
      color: $black;
      margin-right: 20px;
    }

    // gray txt
    .gray-text {
      color: $theme-text-light;
    }

    // info-sec
    .info-sec {
      background: rgba($theme-info-bg, 0.097);
      padding: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      // icon
      i {
        font-size: 16px;
        color: $theme-info;
        line-height: 1;
        margin-right: 5px;
      }

      // text
      .info-text {
        font-size: 12px;
        color: $theme-info;
        font-weight: 700;
      }
    }

  }

  // right sec
  .right {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // On mobile
    @include mobile {
      flex-direction: column;
    }

    // left sec
    .left-sec {
      display: flex;
      align-items: center;
    }

    // right sec
    .right-sec {
      display: flex;
      align-items: center;

      // On mobile
      @include mobile {
        width: 100%;
      } 
    }

    // form-group
    .form-group {
      margin-right: 20px;

      // On mobile
      @include mobile {
        margin-right: 0;
      }      
    }

    // heading
    .filter-heading {
      margin-bottom: 0;
      font-size: 12px;
      font-weight: 700;
      color: $theme-text-light;

      // dark-text
      &.dark-text {
        color: $theme-text-dark;
      }

      // pl
      &.pl--mob {
        padding-left: 8px;

        // On mobile
        @include mobile {
         padding-left: 17px;
        } 
      }
    }

    // toggle
    .toggle {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    // toggle-txt
    .toggle-text {
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      color: $theme-gray;
      margin-right: 15px;

      // On mobile
      @include mobile {
        font-size: 13px;
      }
    }

    // select
    .filter-select {
      font-size: 15px;
      font-weight: 700;
      color: $theme-gray;
      text-transform: uppercase;
      border: none;
      background: transparent;
      height: auto !important;

      // on hover, focus
      &:focus, &:hover {
        box-shadow: none;
      }

      &.liner {
        width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    // bordr-right
    .with-border {
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: $theme-text-light;
      border-radius: 0;
      padding-right: 20px;
    }

    // list
    .list-view {
      margin-right: 15px;

      // icon
      i {
        font-size: 34px;
        color: $theme-text-light;
      }

      // vertical
      &.vertical {
        transform: rotate(90deg);

        // On mobile
        @include mobile {
          margin-left: 20px;
        }
      }

      // horizontal
      &.horizontal {}
    }
  }
}

// card-result-foud
.card-result-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: none;
  box-shadow: 0 4px 9px 0 rgba($black, 0.2);

  // On mobile
  @include mobile {
    flex-direction: column;
  }

  // header
  .card-header {
    background: none;
    border: none;

    // img
    .img-logo {
      background-color: white;
      background-position: center;
      background-size: contain;
      width: 170px;
      height: 90px;
      background-repeat: no-repeat;

      // On mobile
      @include mobile {
        width: 200px;
      }
    }
  }

  // body
  .card-body {

    // heading
    .heading {}

    // list
    .charges-list {}

    // list-item
    .charges-list-item {

      // icon
      i {}

      // text
      .text {}

      // name
      .name {}

      // amount
      .amount {}
    }

    // list
    .footer-info-list {}

    // list-item
    .footer-info-list-item {}

    // gray-text
    .gray-text {}

    // black-text
    .black-text {}
  }

  // footer
  .card-footer {

    // On mobile
    @include mobile {
      width: 100%;
    }    

    // share icon
    .icon-share {}

    // price sec
    .price-sec {

      // price
      .price {

        // with cut
        &.with-cut {}
      }

      // number
      .num {}
    }

    // blue-text
    .blue-text {}

    // action-footer
    .action-footer {}

    // text
    .expiry-text {}

    // danger-text
    .danger-text {}

    // button
    .btn-book {
    }

    // icon arrow
    .icon-arrow {
        
    }
  }
}