// ######################################## //
// ## ANIMATIONS.SCSS ## //
// ######################################## //

// animation
@keyframes up-right {
  0% {
      transform: scale(1);
      opacity: .25
  }
  50% {
      transform: scale (1, 5);
      opacity: 1;
  }
  100% {
      transform: scale(1);
      opacity: .25;
  }
}