// ######################################## //
// ## COLORS.SCSS ## //
// ######################################## //

// Black (Gray) Color Shades
$black: #000000;
$gray-1: #111111;
$gray-2: #222222;
$gray-3: #333333;
$gray-4: #444444;
$gray-5: #555555;
$gray-6: #666666;
$gray-7: #777777;
$gray-8: #888888;
$gray-9: #999999;
$gray-a: #aaaaaa;
$gray-b: #bbbbbb;
$gray-c: #cccccc;
$gray-d: #dddddd;
$gray-e: #eeeeee;
$white: #ffffff;

// Theme specific colors
$theme-primary: #3549af;
$theme-bg: #f9f9f9;
$theme-card-bg: #D8D8D8;
$theme-text-primary: #707070;
$theme-text-secondary: #707070;
$theme-text-light: #343434;
$theme-badge: #f2799a;
$theme-info: #f7a661;
$theme-info-bg: #ffb100;
$theme-warning: #FF8238;
$theme-success: #5cd029;
$theme-danger: #d85252;
$theme-badge-bg: #52B9F0;

