@-webkit-keyframes up-right {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: .25; }
  50% {
    -webkit-transform: scale 1, 5;
    transform: scale 1, 5;
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: .25; } }

@keyframes up-right {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: .25; }
  50% {
    -webkit-transform: scale 1, 5;
    transform: scale 1, 5;
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: .25; } }

.circle {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  opacity: .25; }

.red {
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: up-right 1s infinite;
  -moz-animation: up-right 1s infinite;
  -o-animation: up-right 1s infinite;
  animation: up-right 1s infinite; }
